<a href="https://colab.research.google.com/github/XingxinHE/FinalThesis_DL-GA/blob/master/Stage_3_Coord%26AutomateCSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Setup

In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras import Input
from tensorflow.keras.models import Model
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')
import os

Mounted at /content/gdrive

In [3]:
os.chdir("/content/gdrive/My Drive/Final Thesis/data")

## Process Traing Dataset Coordinate to Floats

In [ ]:
dataframe = pd.read_csv('stage3/605sample_3 points_ coordinates.csv', header=None)

In [ ]:
dataframe.head()

             0
0  {40, 35, 0}
1  {30, 20, 0}
2   {0, 35, 0}
3  {40, 40, 0}
4  {40, 15, 0}

In [ ]:
dataframe['coord'] = [data[1:-1] for data in dataframe[0]]

In [ ]:
dataframe.head()

             0      coord
0  {40, 35, 0}  40, 35, 0
1  {30, 20, 0}  30, 20, 0
2   {0, 35, 0}   0, 35, 0
3  {40, 40, 0}  40, 40, 0
4  {40, 15, 0}  40, 15, 0

In [ ]:
coord = dataframe['coord'].to_numpy()

In [ ]:
def f(x):
    return np.array(x.replace('[', '').replace(']', '').replace(',', ' ').split()).astype(float)

result = np.array([f(t) for t in coord])
result

array([[40., 35.,  0.],
       [30., 20.,  0.],
       [ 0., 35.,  0.],
       ...,
       [25., 35.,  0.],
       [25., 10.,  0.],
       [ 0., 30.,  0.]])

In [ ]:
result.shape

(1815, 3)

In [ ]:
result = result.reshape((605,9))

In [ ]:
coord = pd.DataFrame(result)
coord.head()

      0     1    2     3     4    5    6     7    8
0  40.0  35.0  0.0  30.0  20.0  0.0  0.0  35.0  0.0
1  40.0  40.0  0.0  40.0  15.0  0.0  0.0  35.0  0.0
2  30.0  30.0  0.0  40.0  20.0  0.0  0.0  20.0  0.0
3  10.0  40.0  0.0  40.0  20.0  0.0  0.0  25.0  0.0
4  35.0  40.0  0.0  30.0  10.0  0.0  0.0  30.0  0.0

In [ ]:
coord.to_csv('605_coord.csv')

## Process Coordinate to Floats

In [4]:
dataframe = pd.read_csv('stage3/10sample_3 points_ coordinates.csv', header=None)

In [5]:
dataframe.head()

             0
0  {15, 40, 0}
1  {25, 15, 0}
2   {0, 15, 0}
3  {30, 30, 0}
4  {40, 10, 0}

In [6]:
dataframe['coord'] = [data[1:-1] for data in dataframe[0]]

In [7]:
dataframe.head()

             0      coord
0  {15, 40, 0}  15, 40, 0
1  {25, 15, 0}  25, 15, 0
2   {0, 15, 0}   0, 15, 0
3  {30, 30, 0}  30, 30, 0
4  {40, 10, 0}  40, 10, 0

In [8]:
coord = dataframe['coord'].to_numpy()

In [9]:
def f(x):
    return np.array(x.replace('[', '').replace(']', '').replace(',', ' ').split()).astype(float)

result = np.array([f(t) for t in coord])
result

array([[15., 40.,  0.],
       [25., 15.,  0.],
       [ 0., 15.,  0.],
       [30., 30.,  0.],
       [40., 10.,  0.],
       [ 0., 25.,  0.],
       [10., 40.,  0.],
       [40., 20.,  0.],
       [ 0., 30.,  0.],
       [35., 40.,  0.],
       [30., 20.,  0.],
       [ 0., 35.,  0.],
       [20., 40.,  0.],
       [25., 20.,  0.],
       [ 0., 20.,  0.],
       [30., 40.,  0.],
       [15., 10.,  0.],
       [ 0., 20.,  0.],
       [40., 35.,  0.],
       [35., 20.,  0.],
       [ 0., 30.,  0.],
       [35., 40.,  0.],
       [25., 15.,  0.],
       [ 0., 20.,  0.],
       [25., 35.,  0.],
       [30., 15.,  0.],
       [ 0., 15.,  0.],
       [20., 40.,  0.],
       [10., 10.,  0.],
       [ 0., 35.,  0.]])

In [10]:
result.shape

(30, 3)

In [11]:
result = result.reshape((10,9))

In [12]:
coord = pd.DataFrame(result)
coord.head()

      0     1    2     3     4    5    6     7    8
0  15.0  40.0  0.0  25.0  15.0  0.0  0.0  15.0  0.0
1  30.0  30.0  0.0  40.0  10.0  0.0  0.0  25.0  0.0
2  10.0  40.0  0.0  40.0  20.0  0.0  0.0  30.0  0.0
3  35.0  40.0  0.0  30.0  20.0  0.0  0.0  35.0  0.0
4  20.0  40.0  0.0  25.0  20.0  0.0  0.0  20.0  0.0

In [13]:
coord.to_csv('10_coord.csv')

## Automate 605 .csv demo

In [ ]:
#create an empty DataFrame for later appending
optimal_605 = pd.DataFrame(np.zeros((2,2)), columns=['bar_orders','weight'])
optimal_605

   bar_orders  weight
0         0.0     0.0
1         0.0     0.0

In [ ]:
#Initialize all the csv files path
main_path = 'stage3/605'
csv_paths = ['stage3_ ({})/results.tsv'.format(i) for i in range(1,606)]

In [ ]:
for csv in csv_paths:
  src = os.path.join(main_path, csv) #each csv file path
  result = pd.read_csv(src, sep='\t') #read csv
  result = result.iloc[:,-2:] #take only last 2 columns
  cols = ['bar_orders','weight'] #rename the columns
  result.columns = cols #rename the columns
  result.sort_values(by='weight', ascending=True, inplace=True) #find the optimal solution on weight
  result['bar_orders'] = [bar[1:-1] for bar in result['bar_orders']] #take out the text
  optimal_605 = optimal_605.append(result.iloc[0,:]) #append to the dataframe
optimal_605.drop([0, 1], inplace=True)
optimal_605.reset_index(inplace=True, drop=True)
optimal_605

                                            bar_orders      weight
0    2.83810870599491, 0.6358100457084843, 1.591918...  103.451705
1    0.8345770523120521, 0.9756589343833298, 2.6056...  111.959005
2    2.957788117293222, 2.724991772207066, 1.764825...  119.747432
3    3.438750738336929, 0.0004908677138951938, 1.38...  101.092659
4    0.2559104201266245, 1.5397079930733486, 1.6019...  111.386501
..                                                 ...         ...
600  1.503335667586489, 0.986849577595335, 0.525005...  112.765163
601  0.01772228251242236, 1.5432344551130908, 1.911...  112.161484
602  0.850379063780427, 1.8745358324229073, 3.22292...  106.448331
603  1.7800782810853257, 1.9953681364308633, 2.4115...   99.890987
604  2.030130691019586, 3.6297709594655876, 2.70426...  104.876752

[605 rows x 2 columns]

## Export to CSV

In [ ]:
optimal_605.to_csv("/content/gdrive/My Drive/Final Thesis/data/optimal_605.csv")